{% extends "base.html" %}


{% block meta %}
    <title>Страница не найдена</title>
{% endblock %}


{% block main_content %}
<div class="post-13 page type-page status-publish hentry page" id="post-13">
    <div class="two_third ">
        <h2>Страница не найдена</h2>
        <p></p>
    </div>

    <div class="one_third last">
        <h2>Что мы предлагаем</h2>

        <span class="dropcap">1</span>
        <h6><em>Быстрое и качественное изготовление металлоконструкций<br></em></h6>

        <span class="dropcap">2</span>
        <h6><em>Соблюдение технических регламентов и ГОСТов при производстве<br></em></h6>

        <span class="dropcap">3</span>
        <h6><em>Выполнение и доставка заказа в соответствии с утвержденными сроками<br></em></h6>
    </div>

    <div class="clear"></div>

</div>
{% endblock %}

