{% extends "base.html" %}

{% load service %}

{% block meta %}
    <title>О заводе металлоконструкций Тризол</title>
    <meta name="description" content="Подробная информация о заводе металлоконструкций Тризол">
{% endblock %}


{% block main_content %}
<div class="post-13 page type-page status-publish hentry page" id="post-13">
    <div class="two_third ">
        <h2>ООО Тризол</h2>
        <p><img width="300" height="246" src="{{ STATIC_URL }}images/about.jpg" alt="" title="image_1" class="alignleft size-full wp-image-124"></p>
        <h6>Завод металлоконструкции "Тризол"</h6>
        <p>Завод основан в 2012 году.</p>
    </div>

    <div class="one_third last">
        <h2>Что мы предлагаем</h2>

        <span class="dropcap">1</span>
        <h6><em>Быстрое и качественное изготовление металлоконструкций<br></em></h6>

        <span class="dropcap">2</span>
        <h6><em>Соблюдение технических регламентов и ГОСТов при производстве<br></em></h6>

        <span class="dropcap">3</span>
        <h6><em>Выполнение и доставка заказа в соответствии с утвержденными сроками<br></em></h6>
    </div>

    <div class="clear"></div>

</div>
{% endblock %}
