<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru-RU"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru-RU"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru-RU"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="ru-RU"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
    <html class=" js flexbox rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent" lang="ru-RU">
<!--<![endif]-->

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	{% block meta %}
        <title>Тризол | Металлоконструкции</title>
	    <meta name="description" content=" | Металлоконструкции">
	{% endblock %}
    <meta charset="UTF-8">
    <link rel="icon" href="{{ STATIC_URL }}images/icons/tumblr.png" type="image/x-icon">
	
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
    	<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
    </div>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/prettyPhoto.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/colorscheme.css" />

    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

	
    
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.7.2.min.js?ver=1.7.2'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/modernizr.js?ver=2.0.6'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/superfish.js?ver=1.4.8'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.easing.1.3.js?ver=1.3'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.prettyPhoto.js?ver=3.1.3'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.nivo.slider.js?ver=2.5.2'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.tools.min.js?ver=1.2.6'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.loader.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.elastislide.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/swfobject.js?ver=2.2-20120417'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.cycle.all.js?ver=2.99'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.twitter.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flickrush.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/audiojs/audio.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/custom.js?ver=1.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/comment-reply.min.js?ver=3.5.2'></script>
    {% comment %}    
    <link rel='canonical' href='http://zmkt.ru/' />
    {% endcomment %}
    <style type="text/css" media="screen">
        html { margin-top: 28px !important; }
        * html body { margin-top: 28px !important; }
    </style>
  
  <script type="text/javascript">
  	// initialise plugins
		jQuery(function(){
			// main navigation init
			jQuery('ul.sf-menu').superfish({
				delay:       1000, 		// one second delay on mouseout
				animation:   {opacity:'show',height:'show'}, // fade-in and slide-down animation
				speed:       'normal',  // faster animation speed
				autoArrows:  false,   // generation of arrow mark-up (for submenu)
				dropShadows: false   // drop shadows (for submenu)
			});

			jQuery("ul.services li:even").addClass("even");

		});

		// Init for audiojs
		audiojs.events.ready(function() {
			var as = audiojs.createAll();
		});
  </script>

  <script type="text/javascript">
		jQuery(window).load(function() {
			// nivoslider init
			jQuery('#slider').nivoSlider({
				effect: 'fold',
				slices:15,
				boxCols:8,
				boxRows:8,
				animSpeed:500,
				pauseTime:5000,
				directionNav:false,
				directionNavHide:false,
				controlNav:true,
				captionOpacity:1,
    beforeChange: function(){
     jQuery('.nivo-caption').animate({right:"-500px"}, {easing:"jswing"});
    },
    afterChange: function(){
     jQuery('.nivo-caption').animate({right:"40"}, {easing:"jswing"});
    }
			});
		});
	</script>


  <style type="text/css">




		body {font-family:Arial, Helvetica, sans-serif; color:#333}#main {font-size:12px; font-style:normal;}  </style>
</head>

<body class="home page page-id-7 page-template page-template-page-home-php customize-support">

<div id="main"><!-- this encompasses the entire Web site -->
{% block header %}
	<header id="header">
		<div class="container_12 clearfix">
			<div class="grid_12">
                <div class="logo">
                    <a href="/" id="logo"><img src="{{ STATIC_URL }}images/logo.png" alt="Тризол" title="Металлоконструкции"></a>
                    <p class="tagline">Завод металлоконструкций</p>
                </div>

                <nav class="primary">
					<ul id="topnav" class="sf-menu sf-js-enabled">
                        <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page {% if request.path == "/" %}current-menu-item{% endif %}  page_item page-item-7 current_page_item menu-item-34"><a href="/">Главная</a></li>
                        <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 {% if "service" in request.path %}current-menu-item{% endif %}"><a href="/service/">Услуги</a></li>
                        <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32 {% if "works" in request.path %}current-menu-item{% endif %}"><a href="/works/">Работы</a></li>
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31 {% if "about" in request.path %}current-menu-item{% endif %}"><a href="/about/">О компании</a></li>
                        <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30 {% if "news" in request.path %}current-menu-item{% endif %}"><a href="/news/">Новости</a></li>
                        <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 {% if "contacts" in request.path %}current-menu-item{% endif %}"><a href="/contacts/">Контакты</a></li>
                    </ul>
                </nav>

                {% comment %}
                <div id="widget-header">
        			<div id="social_networks-2" class="widget-header">
		            	<ul class="social-networks">
			                <li>
                                <a rel="external" href="http://www.youtube.com/">
                                    <img src="{{ STATIC_URL }}images/icons/youtube.png" alt="">
                                </a>
						    </li>
							<li>
							    <a rel="external" href="https://plus.google.com/">
						    		<img src="{{ STATIC_URL }}images/icons/google.png" alt="">
								</a>
						    </li>
							<li>
							    <a rel="external" href="http://intrd.ru/feed">
						    	    <img src="{{ STATIC_URL }}images/icons/feed.png" alt="">
								</a>
						    </li>
							<li>
							    <a rel="external" href="https://www.netvibes.com/">
						    		<img src="{{ STATIC_URL }}images/icons/netvibes.png" alt="">
								</a>
						    </li>
							<li>
							    <a rel="external" href="http://twitter.com/">
						    		<img src="{{ STATIC_URL }}images/icons/twitter.png" alt="">
								</a>
						    </li>
							<li>
							    <a rel="external" href="http://www.facebook.com/">
						    	    <img src="{{ STATIC_URL }}images/icons/facebook.png" alt="">
								</a>
						    </li>
                  		</ul>
            		</div>
                </div>
                {% endcomment %}

                <form method="get" id="searchform" action="/">
                    <input name="s" value="Поиск" onblur="if(this.value=='') this.value='Поиск'" onfocus="if(this.value =='Поиск' ) this.value=''" type="text">
                    <input value="Go!" type="submit">
                </form>

            </div>
        </div>
    </header>
{% endblock %}

{% block extra_top_content %}


{% endblock %}

	<div class="primary_content_wrap">
    	<div class="primary_content_bg">
            <div class="container_12 clearfix">
                <div class="grid_12">
                    <div class="wrapper">
                        <div class="wrapper">
                        {% block main_content %}

                        {% endblock %}
                        </div>

					</div>
                </div>
            </div>
        </div>
    </div>


{% block footer_area %}


{% endblock %}



{% block footer %}
<footer id="footer">
        <div id="back-top-wrapper">
            <p id="back-top" style="display: block;">
                <a href="#top"><span></span></a>
            </p>
        </div>

		<div class="container_12 clearfix">
            <div class="grid_12">
                <div class="footer-info">
                    <div id="footer-text">
                        <a class="site-name" title="Вебстудия MEG" href="http://webmeg.ru">Вебстудия MEG</a> &copy; 2011-{% now "Y" %}
                    </div>
                </div>
			</div>
		</div>
	</footer>
{% endblock footer %}
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22071292 = new Ya.Metrika({id:22071292,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22071292" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body></html>