{% extends "base.html" %}

{% load service %}

{% block meta %}
    <title>Контакты ООО Тризол</title>
    <meta name="description" content="Контакты завода металлоконструкций Тризол">
{% endblock %}

{% block main_content %}
<div class="post-17 page type-page status-publish hentry page" id="post-17">
    <div class="one_third ">
        <h2>Обратная связь</h2>
        <div id="wpcf7-f41-p17-o1" class="wpcf7">
            <form novalidate="novalidate" class="wpcf7-form" method="post" action="">{% csrf_token %}
                <p>
                    <span class="wpcf7-form-control-wrap text-462">
                        <input type="text" placeholder="Имя*" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" size="40" value="" name="text-462">
                    </span>
                </p>
                <p>
                    <span class="wpcf7-form-control-wrap email-613">
                    <input type="email" placeholder="E-mail*" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" size="40" value="" name="email-613">
                    </span>
                </p>
                <p>
                    <span class="wpcf7-form-control-wrap textarea-172">
                    <textarea placeholder="Сообщение" class="wpcf7-form-control wpcf7-textarea" rows="10" cols="40" name="textarea-172"></textarea>
                    </span>
                </p>
                <p>
                    <input type="submit" class="wpcf7-form-control wpcf7-submit" value="Отправить">
                </p>
            </form>
        </div>
    </div>

    <div class="two_third last">
        <h2>Где мы находимся</h2>
        <div class="google-map">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=FIE-W4yCiAYPIHq1qXLVyK8C_5vOHklf&width=600&height=340"></script>
        </div>
    </div>

    <div class="clear"></div>

    <h2>Контактная информация</h2>
    <div class="one_fourth last">
        <h6>610020, Кировская область, г.Киров,</h6>
        <h6>ул. Павла Корчагина 88 корп.15</h6>
        <ul class="info">
            <li><em>+7 8(8332)206-007 </em>Михаил:</li>
            <li><em>+7 (8332)205-005 </em>Павел:</li>
            <li><em>+7 (8332)64-69-19 </em>Факс:</li>
            <li>E-mail: <a href="promsnab43@ya.ru">promsnab43@ya.ru</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="pagination"></div>
</div>
{% endblock %}