{% extends "base.html" %}

{% load slider service thumbnail news works %}

{% block meta %}
    <title>Завод металлоконструкций</title>
    <meta name="description" content="Завод металлоконструкций Тризол предлагает услуги плазменной резки, токарные и фрезерные работы, изготовление металлоконструкций на заказ">
    <meta name='yandex-verification' content='5a0497db26dfd43a' />
{% endblock %}

{% block extra_top_content %}
<section id="slider-wrapper">
    {% get_slider as slider %}
    <div class="container_12 clearfix">
        <div class="grid_12">
            <div style="position: relative; background: url({{ slider.0.image.url }}) no-repeat scroll 0% 0% transparent;" id="slider" class="nivoSlider">
                {% for slide in slider %}
                    <img style="display: none;" src="{{ slide.image.url }}" alt="" title="#sliderCaption{{ forloop.counter }}">
                {% endfor %}


                <div class="nivo-controlNav">
                    {% for slide in slider %}
                        <a class="nivo-control {% if forloop.first %}active{% endif %}" rel="{{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% endfor %}
                </div>
            </div>
            {% for slide in slider %}
            <div id="sliderCaption{{ forloop.counter }}" class="nivo-html-caption">
                <h5>{{ slide.name }}</h5>
                <p>{{ slide.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="extra_content">
    <div class="extra_content_bg">
        <div class="container_12 clearfix">
            <div class="grid_12">
                <div id="my_cyclewidget-2">
                    <div class="title">Наши проекты</div>
                    {% get_last_works as works %}
                    <ul class="projects">
                        {% for work in works %}
                        <li>
                            <figure class="thumbnail">
                                <a href="{{ work.get_absolute_url }}" title="{{ work.title }}">
                                    {% thumbnail work.image "214x114" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="{{ work.title }}">
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <strong><a href="{{ work.get_absolute_url }}">{{ work.title }}</a></strong>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock extra_top_content %}




{% block main_content %}
<div class="grid_8 alpha">
    <div class="indent_right">
        <div class="wrapper">
            <h2>Услуги</h2>
            {% get_primary_service as service_list %}
            <ul class="recent-posts services">
                {% for service in service_list %}
                <li class="post-217 services type-services status-publish hentry {% if not forloop.counter|divisibleby:"2" %}even{% endif %}">
                    <figure class="featured-thumbnail">
                        <a title="{{ service.title }}" href="{{ service.get_absolute_url }}">
                            {% thumbnail service.image "260x120" crop="center" as img %}
                            <img src="{{ img.url }}">
                            {% endthumbnail %}
                        </a>
                    </figure>
                    <h5><a href="{{ service.get_absolute_url }}" title="{{ service.title }}">{{ service.title }}</a></h5>
                    <div class="excerpt">
                        {{ service.description }}
                    </div>
                    <div class="clear"></div>
                </li>
                {% endfor %}
            </ul>

            <a href="/service/" title="Все услуги" class="button">Все услуги</a>
        </div>
    </div>
</div>

<div class="grid_4 omega">
    <div class="wrapper">
        <div id="my_postwidget-2">
            <h2>Последние новости</h2>
            {% get_last_news as news %}
            <ul class="latestpost">
                {% for entry in news %}
                <li class="clearfix">
                    <time datetime="{{ entry.date_added|date:"c" }}">{{ entry.date_added|date:"d M" }}<span>{{ entry.date_added|date:"Y" }}</span></time>
                    <div>
                        <strong>
                            <a href="{{ entry.get_absolute_url }}" rel="bookmark" title="{{ entry.title }}">{{ entry.title }}</a>
                        </strong>
                        <div class="excerpt">
                            {{ entry.description }}
                           <a href="{{ entry.get_absolute_url }}">Подробнее</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>


            <a href="/news/" class="button">Все новости</a>

        </div>
    </div>
</div>
{% endblock %}

{% comment %}
{% block footer %}
<footer id="footer">
    <div id="back-top-wrapper">
        <p style="display: block;" id="back-top">
            <a href="#top"><span></span></a>
        </p>
    </div>

    <div class="container_12 clearfix">
        <div class="grid_12">
            <div class="footer-widget-area">
                <div class="grid_3 alpha">
                    <div id="my_twitterwidget-2">
                        <div style="display: block;" id="twitter-256363" class="twitter">
                            <h4>Twitter Feed</h4>
                            <ul style="display: block;" class="twitter_update_list">
                                <li class="firstTweet lastTweet"></li>
                            </ul>
                            <p class="preloader">Loading tweets...</p>
                        </div>
                        <script>
                            jQuery("#twitter-256363").getTwitter({
                            userName: "lorem_ipsum_dol",
                            numTweets: 2,
                            loaderText: "Loading tweets...",
                            slideIn: true,
                            showHeading: true,
                                    beforeHeading: "<h4>",
                                    afterHeading: "</h4>",
                            headingText: "Twitter Feed",
                            id:"#twitter-256363",
                            showProfileLink: false
                            });
                        </script>

                    </div>
                </div>

                <div class="grid_3">
                    <div id="social_networks-3">
                        <h4>Follow us</h4>
                        <ul class="social-networks">
                            <li>
                                <a rel="external" href="http://www.youtube.com/">
                                    <img src="trizol_files/youtube.png" alt="">
                                    Watch us on Youtube
                                </a>
                            </li>
                            <li>
                                <a rel="external" href="http://intrd.ru/feed">
                                    <img src="trizol_files/feed.png" alt="">
                                    RSS Feed
                                </a>
                            </li>
                            <li>
                                <a rel="external" href="http://twitter.com/">
                                    <img src="trizol_files/twitter.png" alt="">
                                    Follow us on Twitter
                                </a>
                            </li>
                            <li>
                                <a rel="external" href="http://www.facebook.com/">
                                    <img src="trizol_files/facebook.png" alt="">
                                    Be a fan on Facebook
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grid_3">
                    <div id="flickr-photostream"><h4>Photostream</h4><div id="photoAlbum">
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5197442995/"><img alt="photo" src="trizol_files/5197442995_e5fc3488d6_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5198040068/"><img alt="photo" src="trizol_files/5198040068_487e0cb383_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5197444145/"><img alt="photo" src="trizol_files/5197444145_3cab7093ed_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5198041410/"><img alt="photo" src="trizol_files/5198041410_4abaed8413_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5197443345/"><img alt="photo" src="trizol_files/5197443345_e666afb378_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5140157338/"><img alt="photo" src="trizol_files/5140157338_2432083f4c_s.jpg" title=""></a>
                </span>
                <span class="flickrImage">
                    <a href="http://www.flickr.com/photos/54088809@N05/5197441813/"><img alt="photo" src="trizol_files/5197441813_54cf29ed0a_s.jpg" title=""></a>
                </span><div class="more"><a href="http://www.flickr.com/photos/54088809@N05">View More</a></div></div></div>                        </div>

                <div class="grid_3 omega">
                    <div id="text-3"><h4>Quick Contact</h4>			<div class="textwidget"><div class="wpcf7" id="wpcf7-f41-w1-o1"><form action="/#wpcf7-f41-w1-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input name="_wpcf7" value="41" type="hidden">
<input name="_wpcf7_version" value="3.4.2" type="hidden">
<input name="_wpcf7_unit_tag" value="wpcf7-f41-w1-o1" type="hidden">
<input name="_wpnonce" value="be705fcfeb" type="hidden">
</div>
<p><span class="wpcf7-form-control-wrap text-462"><input name="text-462" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" placeholder="Имя*" type="text"></span></p>
<p><span class="wpcf7-form-control-wrap email-613"><input name="email-613" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" placeholder="E-mail*" type="email"></span></p>
<p><span class="wpcf7-form-control-wrap textarea-172"><textarea name="textarea-172" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Сообщение"></textarea></span></p>
<p><input value="Отправить" class="wpcf7-form-control wpcf7-submit" type="submit"><img style="visibility: hidden;" alt="Отправка..." src="trizol_files/ajax-loader.gif" class="ajax-loader"></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
</div>                        </div>

            </div>






        <div class="footer-info">

            <div id="footer-text">
            <a class="site-name" title="Металлоконструкции" href="/">Тризол</a> &copy; 2011-{% now "Y" %}
            </div>


        </div>




    </div>
</div><!--.container-->
</footer>
{% endblock %}
{% endcomment %}
