{% extends "base.html" %}

{% load thumbnail %}

{% block meta %}
<title>{{ work.title }}</title>
    <meta name="description" content="{{ work.text|safe }}">
{% endblock %}

{% block main_content %}
<div class="grid_24">
	<div class="page-header">
        <h1 class="page-title">{{ work.title }}</h1>
	</div>

	<div class="hfeed" id="primary">
    	<div id="post-72" class="post-72 portfolio type-portfolio status-publish hentry">
            <div class="two_third">
    			 {% thumbnail work.image "600x371" as img %}
                    <img src="{{ img.url }}" alt="{{ work.title }}">
                {% endthumbnail %}
			</div>

            <div class="entry-content one_third last">
                <div class="entry-meta">
                    <ul class="portfolio-meta-list">
                        {% if work.client %}<li><strong class="portfolio-meta-key">Клиент:</strong><span>{{ work.client }}</span><br></li>{% endif %}
                        <li><strong class="portfolio-meta-key">Дата:</strong><span>{{ work.date|date:"d/m/Y" }}</span><br></li>
                        {% if work.info %}<li><strong class="portfolio-meta-key">Кратко:</strong><span>{{ work.info }}</span><br></li>{% endif %}
                        {% if work.link %}<li>{{ work.link  }}</li>{% endif %}
                    </ul>
                </div>

                <p>{{ work.text|safe }}</p>
            </div>

        </div>
    </div>
</div>

{% endblock main_content %}