{% extends "base.html" %}

{% load thumbnail %}

{% block meta %}
    <title>Работы по изготовлению металлоконструкций</title>
    <meta name="description" content="Работы по изготовлению металлоконструкций, выполненые ООО Тризол">
{% endblock %}


{% block main_content %}
<div class="header-title">
    <h1>Работы</h1>
    <span class="page-desc"></span>
</div>


<div id="gallery">
    <ul class="portfolio">
        {% for work in work_list %}
        <li class="">
        <span class="image-border">
            <a class="image-wrap" href="{{ work.get_absolute_url }}" title="{{ work.title }}">
                {% thumbnail work.image "300x190" crop="center" as img %}
                <img style="display: block;" src="{{ img.url }}" alt="{{ work.title }}">
                {% endthumbnail %}
            </a>
        </span>

        <div class="folio-desc">
          <h6><a href="{{ work.get_absolute_url }}">{{ work.title }}</a></h6>
          <p class="excerpt">{{ work.text|safe }}</p>
        </div>
        </li>
        {% endfor %}
    </ul>

    <div class="clear"></div>

</div>

{% comment %}
<div class="wp-pagenavi">
    <span class="pages">Page 1 of 2</span>
    <span class="current">1</span>
    <a href="http://intrd.ru/portfolio/page/2/" class="page larger">2</a>
    <a href="http://intrd.ru/portfolio/page/2/" class="nextpostslink">next</a>
</div>
{% endcomment %}
{% endblock %}