{% extends "base.html" %}

{% load service thumbnail news %}

{% block meta %}
    <title>Новости отрасли металлургии</title>
    <meta name="description" content="Новости отрасли металлургии">
{% endblock %}

{% block main_content %}
<div id="content" class="grid_8 alpha right">
    <div class="indent-right">
        <div class="header-title">
              <h3>Новости</h3>
        </div>
        {% for entry in entry_list %}
        <article id="post-86" class="post-86 post type-post status-publish format-standard hentry category-works tag-ac tag-adipiscing tag-est tag-fringilla tag-nulla tag-nullam tag-sagittis tag-tellus post-holder cat-1-id">


            <figure class="featured-thumbnail">
                <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
                    {% thumbnail entry.image "300x226" as img %}
                    <img src="{{ img.url }}" alt="{{ entry.get_absolute_url }}">
                    {% endthumbnail %}
                </a>
            </figure>

            <div class="post-header">
                <h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a></h2>

                <div class="post-meta">
                    <b><time datetime="{{ entry.date_added|date:"c" }}">{{ entry.date_added|date:"d-m-Y" }}</time></b>
                </div>

            </div>

            <div class="post-content">
                <div class="excerpt">
                    {{ entry.description }}
                </div>
            </div>

            <a href="{{ entry.get_absolute_url }}" class="link">Подробнее</a>
        </article>
        {% endfor %}
	{% comment %}
        <div class="wp-pagenavi">
            <span class="pages">Page 1 of 2</span>
            <span class="current">1</span>
            <a href="http://intrd.ru/news/page/2/" class="page larger">2</a>
            <a href="http://intrd.ru/news/page/2/" class="nextpostslink">next</a>
        </div>
        {% endcomment %}
    </div>
</div>

<aside id="sidebar" class="grid_4 omega">
    <div id="categories-2" class="widget">
        {% get_all_service as all_service %}
        <h3>Услуги</h3>
        <ul>
            {% for s in all_service%}
            <li class="cat-item cat-item-{{ forloop.counter }}">
                <a href="{{ s.get_absolute_url }}" title="{{ s.title }}">{{ s.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>

{% endblock %}