body {
	background: #c0c0c0 url(../images/body.gif) repeat-x 0% 0%;
	color: #636363;
}

#header {
	background: url(../images/header.png) no-repeat 50% 20px;
}

	.logo h1,
	.logo h2 {
		color: #818181;
	}
	
		.logo h1 a,
		.logo h2 a {
			color: #818181;
		}
		
		.logo h1 a:hover,
		.logo h2 a:hover {
			color: #ff5325;
		}

.logo .tagline {
	color: #b3b3b3;
}

.tooltip {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #000000;
	color: #EEEEEE;
}

#slider {
	background: url(../images/loading.gif) no-repeat 50% 50%;
}

.nivo-caption {
	background: url(../images/caption.png) repeat 0% 0%;
	color: #fff;
}

.nivo-caption:before {
	background: url(../images/caption_pic.png) no-repeat 0% 0%;
	content: '';
}

	.nivo-caption p {
		color: #9b9b9b;
	}

	.nivo-caption a {
		color: #ff6238;
	}

	.nivo-controlNav a {
		background: url(../images/pagination.gif) repeat-x 0% 0%;
	}
	
	.nivo-controlNav a.active, .nivo-controlNav a.active:hover {
		background-position: 0% -14px;
	}
	
		.nivo-controlNav a:hover {
			background-position: 0% -28px;
		}

nav.primary {
	background: url(../images/menu-divider.png) no-repeat 100% 50%;
}

.sf-menu ul {
	background: #ae2f0d;
}

.sf-menu li {
	background: url(../images/menu-divider.png) no-repeat 0% 50%;
}

	.sf-menu li a {
		color: #fff;
	}

.sf-menu li li {
	background: url(../images/sub_menu.png) no-repeat 50% 0%;
}

	.sf-menu li li a {
		color: #ffc58c;
	}

.sf-menu li li li {
	background: url(../images/sub_menu.png) no-repeat 50% 0%;
}
	
	.sf-menu li li li a {
		color: #ffc58c;
	}

.sf-menu li:hover > a, .sf-menu li.sfHover > a,
.sf-menu li > a:focus, .sf-menu li > a:hover, .sf-menu li > a:active, .sf-menu li.current-menu-item > a {
	background: #ae2f0d;
}

.sf-menu li li:hover > a, .sf-menu li li.sfHover > a,
.sf-menu li li > a:focus, .sf-menu li li > a:hover, .sf-menu li li > a:active, .sf-menu li li.current-menu-item > a {
	background: none;
	color: #fff;
}

.extra_content {
	background: url(../images/extra-content-tail.gif) repeat-y 50% 296px;
}

	.extra_content .extra_content_bg {
		background: url(../images/extra-content-bg.gif) no-repeat 50% 0%;
	}

.primary_content_wrap {
	background: url(../images/content.gif) repeat-y 50% 239px;
}

	.primary_content_wrap .primary_content_bg {
		background: url(../images/content-bg.png) no-repeat 50% 0%;
	}
	
		.primary_content_wrap ul li {
			background: url(../images/marker.png) no-repeat 0% 8px;
			color: #373737;
		}
		
			.primary_content_wrap ul li a {
				color: #373737;
			}
			
				.primary_content_wrap ul li a:hover {
					color: #ff6c24;
				}
				
	ol.commentlist li {
		background: none;
	}
	
	li.comment .comment-body {
		background:#d9d9d9;
		color: #636363;
	}
	
	.comment-author .author {
		color: #373737;
	}
	
	.comment-meta {
		color: #373737;
	}
	
		.reply a {
			color: #ff6c24 !important;
		}
		
	.cancel-comment-reply a {
		color: #ff6c24 !important;
	}
	
	ul.related-posts li {
		background: none;
	}

.wp-pagenavi a, .wp-pagenavi span {
	color: #373737 !important;
}

	.wp-pagenavi a:hover, .wp-pagenavi span.current {
		color: #ff6c24 !important;
	}

a.nextpostslink {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0% !important;
	border: none !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #b3b3b3 !important;
	border-left: 1px solid #cfcfcf !important;
	color: #8e8e8e !important;
}

	a.nextpostslink:hover {
		color: #ff6c24 !important;
	}

a.last {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0% !important;
	border: none !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #b3b3b3 !important;
	border-left: 1px solid #cfcfcf !important;
	color: #8e8e8e !important;
}

	a.last:hover {
		color: #ff6c24 !important;
	}

a.previouspostslink {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0% !important;
	border: none !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #b3b3b3 !important;
	border-left: 1px solid #cfcfcf !important;
	color: #8e8e8e !important;
}

	a.previouspostslink:hover {
		color: #ff6c24 !important;
	}
	
a.first {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0% !important;
	border: none !important;
	border-right: 1px solid #cbcbcb !important;
	border-bottom: 1px solid #b3b3b3 !important;
	border-left: 1px solid #cfcfcf !important;
	color: #8e8e8e !important;
}

	a.first:hover {
		color: #ff6c24 !important;
	}

.single-oldernewer {
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
}

		.g_pagination ul li {
			background: none;
		}
		
			.g_pagination ul li a {
				background:#000;
			}
			
			.g_pagination li.activeSlide a,
			.g_pagination li a:hover {
				background:#999;
			}
		
	.g_controls a {
		background:#000;
		color:#fff;
	}
		
	.g_controls a:hover {
		background: #999;
	}

#post-author {
	border: 1px solid #dbdbdb;
}

	#post-author .gravatar img {
		background: #fff;
		border: 1px solid #dbdbdb;
	}
	
		.author-info .avatar img {
			background: #fff;
			border: 1px solid #dbdbdb;
		}
	
.error404-num {
	color: #ff6c24;
}

	.header-title .page-desc {
		color:#999;
	}

		#gallery .portfolio li {
			background:none;
			color: #636363;
		}
		
		#gallery .portfolio li a.image-wrap {
			background: #f5f5f5 url(../images/loading-folio.gif) 50% 50% no-repeat;
		}
		
		#wp-calendar caption {
			color:#000;
			}
		#wp-calendar thead th {
			background:#fff;
			color:#000;
			}

.twitter ul li {
	color: #636363;
}

	.twitter ul li .twitt-body a {
		color: #ff6c24;
	}
	
.twitter ul li a.timesince {
	color: #373737;
}

.tags-cloud a,
.tagcloud a,
.post-footer a {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0%;
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #b3b3b3;
	border-left: 1px solid #cfcfcf;
	color: #838383;
}

.tags-cloud a:hover,
.tagcloud a:hover,
.post-footer a:hover {
	color: #ff6c24;
}

	#header #searchform input[type="text"] {
		background: url(../images/search-input.gif) repeat-x 0% 0%;
		color: #ffbaa7 !important;
	}

div.title {
	color: #fff;
}

	ul.projects li {
		color: #928985;
	}
	
		ul.projects li strong {
			color: #fff;
		}
		
			ul.projects li strong a {
				color: #fff;
			}
			
	ul.latestpost li {
		background: url(../images/line-hor.png) repeat-x 0% 0%;
		color: #636363;
	}
	
	ul.latestpost li:first-child {
		background: none;
	}
	
		ul.latestpost li time {
			background: url(../images/date.png) no-repeat 0% 0%;
			color: #fff;
		}
		
			ul.latestpost li time span {
				background: url(../images/date_line.png) no-repeat 50% 0%;
			}
			
		ul.latestpost li strong {
			color: #373737;
		}
		
			ul.latestpost li strong a {
				color: #373737;
			}
			
				ul.latestpost li strong a:hover {
					color: #ff6c24;
				}
			
			ul.latestpost li .excerpt a {
				border-left: 1px solid #b6b6b6;
				color: #ff6c24;
			}
			
	ul.services li {
		background: none;
		color: #636363;
	}
	
		ul.services li h5 {
			background: url(../images/title.png) no-repeat 0% 0%;
			color: #fff;
		}
		
			ul.services li h5 a {
				color: #fff;
			}
			
				ul.services li h5 a:hover {
					color: #2c2828;
				}
	
	figure.thumbnail img {
		border: 3px solid #2d2c2c;
	}

a.button {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0%;
	border: none;
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #b3b3b3;
	border-left: 1px solid #cfcfcf;
	color: #8e8e8e !important;
}

	a.button:hover {
		color: #ff6c24 !important;
	}

a.link {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0%;
	border: none;
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #b3b3b3;
	border-left: 1px solid #cfcfcf;
	color: #8e8e8e !important;
}

	a.link:hover {
		color: #ff6c24 !important;
	}
	
	.post-header h2 {
		color: #373737;
	}
	
		.post-header h2 a {
			color: #373737;
		}
		
			.post-header h2 a:hover {
				color: #ff6c24;
			}

.post-meta {
	color: #636363;
}

	.post-meta b {
		background: url(../images/icon_date.png) no-repeat 0% 3px;
	}
	
	.post-meta strong {
		background: url(../images/icon_author.png) no-repeat 0% 2px;
	}
	
	.post-meta em {
		background: url(../images/icon_comments.png) no-repeat 0% 3px;
	}
	
	.post-meta a {
		color: #636363;
	}
	
		.post-meta a:hover {
			color: #ff6c24;
		}

.post-content {
	color: #636363;
}

	ul.info li {
		background: none;
		color: #636363;
	}
	
		ul.info li a {
			color: #ff6c24;
		}

ul.portfolio-meta-list {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
	
	ul.portfolio-meta-list li {
		background: none;
	}
	
		ul.portfolio-meta-list li a {
			color: #ff6c24;
		}

#footer {
	background: url(../images/content.gif) repeat-y 50% 239px;
}

	body.home #footer {
		background: url(../images/footer.gif) repeat-y 50% 22px;
	}
	
	body.page-template-page-subpage-php #footer {
		background: url(../images/footer.gif) repeat-y 50% 22px;
	}

body.home #footer:before {
	background: url(../images/footer-top.png) no-repeat 50% 0%;
}

.footer-area {
	background: url(../images/footer.gif) repeat-y 50% 22px;
}

	.footer-area:before {
		background: url(../images/footer-top.png) no-repeat 50% 0%;
	}
	
		.footer-area ul li {
			background: url(../images/marker.png) no-repeat 0% 8px;
			color: #373737;
		}
		
			.footer-area ul li a {
				color: #373737;
			}
			
				.footer-area ul li a:hover {
					color: #ff6c24;
				}
	
	ul.team li {
		background: none;
		color: #636363;
	}
	
		ul.team li h5 {
			color: #373737;
		}
		
	ul.capabilities li {
		background: none;
		color: #636363;
	}
	
		ul.capabilities li h5 {
			background: url(../images/title.png) no-repeat 0% 0%;
			color: #fff;
		}
		
			ul.capabilities li h5 a {
				color: #fff;
			}
			
				ul.capabilities li h5 a:hover {
					color: #2c2828;
				}
				
		.footer-widget-area ul.social-networks li {
			color: #636363;
		}
		
			.footer-widget-area ul.social-networks li a {
				color: #636363;
			}
			
				.footer-widget-area ul.social-networks li a:hover {
					color: #ef7831;
				}

.footer-info {
	background: url(../images/footer-line.png) repeat-x 0% 0%;
}

		nav.footer ul li {
			color: #a0a0a0;
		}
		
			nav.footer ul li a {
				color: #a0a0a0;
			}

#footer-text {
	color: #a0a0a0;
}

	#footer-text a {
		color: #a0a0a0;
	}

#back-top span {
	background: url(../images/up-arrow.png) no-repeat center center;
}

.dropcap {
	background: url(../images/drop_cap.png) no-repeat 0% 0%;
	color: #ffffff;
}

input, select, textarea { 
	background: #cecece url(../images/form.gif) repeat-x 0% 0%;
	color: #636363 !important;
}

input[type="submit"], input[type="reset"] {
	background: #e7e7e7 url(../images/submit.gif) repeat-x 0% 0%;
	border: none;
	border-right: 1px solid #cbcbcb;
	border-bottom: 1px solid #b3b3b3;
	border-left: 1px solid #cfcfcf;
	color: #8e8e8e;
}

	input[type="submit"]:hover, input[type="reset"]:hover {
		color: #ef7831 !important;
	}
	
	#commentform a {
		color: #ff6c24 !important;
	}

.wpcf7 span.wpcf7-not-valid-tip {
	background: #fff;
	border: 1px solid #ff0000;
}

#footer .wpcf7 span.wpcf7-not-valid-tip {
	background: #fff;
	border: 1px solid #ff0000;
}