@charset utf-8;
/*--
	Theme Name: WordPress Theme Number
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.1+ from Template-Help.com Collection
	Author: Template_Help.com 
	Author URL: http://www.Template-Help.com/ 
--*/

/* General
---------------------------------------- */
html,
body {
	min-width:960px;
	}
	
body {
	position: relative;
	font: 100%/1.125em Arial, Helvetica, sans-serif;
}

::selection {background: #fff; color: #000;}
::-moz-selection {background: #fff; color: #000;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: #fff; color: #000;}

#main {
	width: 100%;
	overflow: hidden;
	padding: 0 0 15px 0;
	font-size: .75em;
}

/* List styling */
dl dt {
	background:url(images/list-arrow.gif) no-repeat 0 3px;
	padding:0 0 3px 32px;
	margin-bottom:.2em;
	font-size:18px;
	line-height:1.2em;
	color:#191919;
	}
dl dd {
	padding:0 0 0 32px;
	margin:0 0 1.5em 0;
	}


/* Header
---------------------------------------- */

#header {
	position: relative;
	height: 170px;
	z-index: 99;
}

/* Logo */

.logo {
	position: absolute;
	top: 49px;
	left: 0;
}

	.logo img {
		float: left;
		margin: 0 10px 0 0;
	}

	.logo h1,
	.logo h2 {
		float: left;
		margin: -9px 10px 0 -4px;
		letter-spacing: -4px;
		line-height: 1.2em;
		font-size: 60px;
		font-weight: 300;
		text-transform: uppercase;
	}
	
		.logo h1 a,
		.logo h2 a {
			text-decoration: none;
		}
		
.logo .tagline {
	float: left;
	margin: 37px 0 0 0;
	line-height: 20px;
	font-size: 10px;
	text-transform: uppercase;
}


/* Header widget */

#widget-header {
	position: absolute;
	top: 59px;
	right: 0;
	z-index: 1;
}

/* Social Networks */

#widget-header .social-networks {
	margin: 0;
	padding: 0;
}

	#widget-header .social-networks li {
		float: left;
		height: 30px;
		margin: 0 0 0 6px;
		padding: 0;
		list-style: none outside;
	}
	
		#widget-header .social-networks li a {
			float: left;
			width: 24px;
			height: 24px;
			overflow: hidden;
			text-decoration: none;
		}
		
			#widget-header .social-networks li a img {
				float: left;
			}
			
			#widget-header .social-networks li a:hover img {
				margin: -24px 0 0 0;
			}

/* EasyTooltip */
.tooltip {
	display: none;
	font-size: 11px;
	line-height:1.2em;
	margin: 13px 0 0;
	padding: 5px;
	z-index:99;
}




/* Request a quote */
#widget_my_requestquotewidget {
	width:100%;
	overflow:hidden;
	}
	
	.top-box {
		background:#eee;
		border:1px solid #dbdbdb;
		padding:20px;
		margin-bottom:20px;
		overflow:hidden;
		zoom:1;
		position:relative;
		min-height:80px;
		}
	.box-button {
		float:right;
		background:#dbdbdb;
		font-size:21px;
		color:#fff;
		text-decoration:none;
		padding:10px;
		position:absolute;
		right:30px;
		top:50%;
		margin-top:-25px;
		}
	.box-text {
		float:left;
		width:75%;
		}



/* Slider
---------------------------------------- */

#slider-wrapper {
	position: relative;
	height: 480px;
	overflow: hidden;
}

#slider {
	width: 1020px;
	height: 480px;
	overflow: hidden;
	margin: 0 0 0 -510px;
	position: absolute;
	top: 0;
	left: 50%;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

.nivo-caption {
	width: 460px;
	min-height: 160px;
	border-radius: 14px;
	color: #fff;
	position: absolute;
	right: 40px;
	bottom: 50px;
	z-index: 89;
	opacity: 0.8; /* Overridden by captionOpacity setting */
}

.nivo-caption:before {
	display: block;
	width: 32px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 30px;
	content: '';
}

	.nivo-caption .nivo-caption-inner {
		margin: 0;
		padding: 22px 30px 22px 30px;
	}
	
	.nivo-caption p {
		margin: 0;
		line-height: 20px;
		font-size: 14px;
	}

	.nivo-caption a {
		display: inline !important;
		text-decoration: none;
	}
	
		.nivo-caption a:hover {
			text-decoration: underline;
		}

.nivo-html-caption {
  display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	width: 1020px;
	height: 14px;
	text-align: center;
	position: absolute;
	top: 466px;
	left: 0;
}

	.nivo-controlNav a {
		display: inline-block !important;
		position: relative;
		width: 340px;
		height: 14px;
		overflow: hidden;
		vertical-align: top;
		line-height: 0;
		font-size: 0;
		z-index: 99;
		cursor: pointer;
	}

.nivo-directionNav {

	}
.nivo-directionNav a {
	position:absolute;
	display:block;
	width:36px;
	height:35px;
	text-indent:-9999px;
	border:0;
	top:45%;
	background:url(images/direction_nav.png) no-repeat 0 0;
}
a.nivo-nextNav {
	right:15px;
	background-position:-36px 0;
}
a.nivo-nextNav:hover {
	background-position:-36px -35px;
	}
a.nivo-prevNav {
	left:15px;
	background-position:0 0;
}
a.nivo-prevNav:hover {
	background-position:0 -35px;
	}

#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
	width:120px;
	height:auto;
}









/* Navigations
---------------------------------------- */

/* Primary navigation */
nav.primary {
	position: absolute;
	top: 120px;
	left: 0;
	z-index: 2;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	width: 108px; /* left offset of submenus need to match (see below) */
	padding: 10px 0 10px 0;
	position: absolute;
	top: -999em;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	margin: 0 0 0 -53px;
	top: 50px; /* match top ul list item height */
	left: 50%;
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	margin: 0;
	left: 108px; /* match ul width */
	top: -10px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	margin: 0;
	left: 108px; /* match ul width */
	top: -10px;
}


/* Our skin for dropdown menu */
.sf-menu {
	float: left;
}

.sf-menu a {
	text-decoration: none;
	color: #fff;
}

	.sf-menu li a {
		height: 50px;
		overflow: hidden;
		margin: 0 0 0 1px;
		padding: 0 19px;
		line-height: 50px;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
	}

.sf-menu li li:first-child {
	background: none;
}

	.sf-menu li li a {
		height: auto;
		overflow: hidden;
		margin: 1px 0 0 0;
		padding: 6px 5px 5px 17px;
		line-height: 18px;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
	}

.sf-menu li li li:first-child {
	background: none;
}

	.sf-menu li li li a {
		height: auto;
		overflow: hidden;
		margin: 1px 0 0 0;
		padding: 6px 5px 5px 17px;
		line-height: 18px;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
	}

.sf-menu li:hover > a, .sf-menu li.sfHover > a,
.sf-menu li > a:focus, .sf-menu li > a:hover, .sf-menu li > a:active, .sf-menu li.current-menu-item > a {
	outline: 0;
}

.sf-menu li li:hover > a, .sf-menu li li.sfHover > a,
.sf-menu li li > a:focus, .sf-menu li li > a:hover, .sf-menu li li > a:active, .sf-menu li li.current-menu-item > a {
	outline: 0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}







.extra_content {
	width: 100%;
	overflow: hidden;
}

	.extra_content .extra_content_bg {
		width: 100%;
		overflow: hidden;
		padding: 26px 0 33px 0;
	}



/* Content
---------------------------------------- */

.primary_content_wrap {
	position: relative;
	z-index: 1;
}

	.primary_content_wrap .primary_content_bg {
		width: 100%;
		overflow: hidden;
		padding: 41px 0 38px 0;
	}
	
	.primary_content_wrap ul {
		margin: 0 0 20px 0;
		padding: 0;
	}
	
		.primary_content_wrap ul li {
			margin: 0 0 10px 0;
			padding: 0 0 0 15px;
			list-style: none;
			line-height: 20px;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
			.primary_content_wrap ul li a {
				text-decoration: none;
			}
	
#content {
	float: left;
}

	#content.left {
		float: right !important;
	}
	
	#content .indent-right {
		padding: 0 20px 0 0;
	}
	
	#content .indent-left {
		padding: 0 0 0 20px;
	}




/* Comments
---------------------------------------- */

ol.commentlist {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
 
	ol.commentlist li {
		margin: 0;
		padding: 10px 0 0 0;
		list-style: none outside;
		text-transform: none;
		font-weight: normal;
	}
	
	li.comment .comment-body {
		min-height: 127px;
		padding: 10px 23px 10px 130px;
		position:relative;
		zoom:1;
		line-height: 20px;
		font-size: 12px;
	}
	
    li.comment .comment-body p {
    	margin: 0 0 6px 0;
    }
  .author-comment {

  }
  
	.comment-author {
		position: absolute;
		top: 10px;
		left: 10px;
	}

   .comment-author .author {
    text-transform:uppercase;
    width:100px;
    text-align:center;
    display: block;
	line-height: 18px;
    font-size:12px;
	font-weight: bold;
    padding-top: 6px;
   }
  .comment-text {

  }
	
	/* Comment meta */
	.comment-meta {
		float: right;
		line-height: 20px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
  .comment-meta a {
   
		}
	
	 /* Avatar */
   li.comment .avatar {
    float:none;
    margin:0;
    vertical-align:top;
    overflow:hidden;
    }
    li.comment .avatar {
     display:block;
     vertical-align:top;
     overflow:hidden;
     }

    .commentlist ul.children {
     margin:0 0 0 20px;
     overflow:hidden;
     }
     .commentlist ul.children li.comment {

      }

		/* Reply */
		
	.reply {
		float: right;
		margin: 0 0 0 28px;
	}
	 
		.reply a {
			display: inline-block;
			line-height: 20px;
			font-size: 11px;
			text-transform: lowercase;
			text-decoration: none !important;
		}
	  
			.reply a:hover {
				text-decoration: underline !important;
			}

 .allowed_tags {
  background:#eee;
  padding:15px;
  font-size:11px;
  font-family:"Courier New", Courier, monospace;
  color:#666;
  }
  .allowed_tags strong {
   font-family:Tahoma, Geneva, sans-serif;
   }
  #respond {
   padding-top:28px;
   margin-top:20px;
  }

.cancel-comment-reply {
	width: 100%;
	overflow: hidden;
	margin: 0 0 14px 0;
}

	.cancel-comment-reply a {
		text-decoration: underline !important;
	}
  
	.cancel-comment-reply a:hover {
		text-decoration: none !important;
	}





/* Post
---------------------------------------- */

.post-holder {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 21px;
}

/* Post header */
.post-holder .entry-title {
	font-size:1.6em;
	margin-bottom:.2em;
	}
.post-holder.single-post {
	margin-bottom:30px;
	overflow:hidden;
	width:100%;
	}

/* Featured thumbnail */

.featured-thumbnail {
	position: relative;
	float: left;
}

	.featured-thumbnail img {
		float: left;
		margin: 0 20px 10px 0;
	}
	
	/* Large thumbnail */
	.featured-thumbnail.large {
		margin-right:0;
		overflow:hidden;
		margin-bottom:1.5em;
		}
	.featured-thumbnail.large img {
		max-width:100%;
		height:auto;
		}

		.pagination a {
			display:inline-block;
			padding:0 5px;
			background:#eee;
			}

/* Post footer */
.post-holder .post-footer {
	clear:both;
	padding:15px 0 0 0;
	}
.post-holder.single-post .post-footer {
	margin-top:20px;
	}
	
p.gravatar {
	float:left;
	margin-right:20px;
	}


/* Post edit link */
.post-edit-link {
	
	}
.post-edit-link:hover {
	
	}


/* Image styling */
.alignleft {
	float:left;
	margin:0 20px 10px 0;
	}
.alignright {
	float:right;
	margin:0 0 10px 20px;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	}
.alignnone {
	margin:0 0 10px 0;
	}
article .post-content img {
	max-width:710px;
	}

.frame {
	padding:7px;
	background:#fff;
	border:1px solid #dbdbdb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
.frame img.alignleft,
.frame img.alignright{
	margin:0;
	padding:0;
	border:none;
	}

	
/* Related Posts */
ul.related-posts {
	overflow:hidden;
	padding:0 0 40px 0;
	margin:0;
	}
	ul.related-posts li {
		list-style-type:none;
		padding:0;
		margin:0 0 0 14px;
		float:left;
		background:none;
		width:154px;
		}
	ul.related-posts li:first-child {
		margin-left:0;
		}
		ul.related-posts li .featured-thumbnail {
			float:none;
			margin:0 0 10px 0;
			overflow:hidden;
			}



/* Page Navigaton (wp-pagenavi) */

.wp-pagenavi {
	width: 100%;
	overflow: hidden;
	margin: 0 0 20px 0;
	clear: both;
	text-align: right;
}

.wp-pagenavi a, .wp-pagenavi span {
	display: inline-block !important;
	height: 31px !important;
	overflow: hidden !important;
	margin: 0 2px !important;
	padding: 0 2px !important;
	vertical-align: top !important;
	border: none !important;
	line-height: 30px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

a.nextpostslink {
	background: #e7e7e7 url(images/submit.gif) repeat-x 0% 0% !important;
	position: relative !important;
	display: inline-block !important;
	height: 30px !important;
	margin: 0 0 0 14px !important;
	padding: 0 16px !important;
	line-height: 30px !important;
	vertical-align: top !important;
	border-radius: 6px !important;
	text-transform: uppercase !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

a.last {
	position: relative !important;
	display: inline-block !important;
	height: 30px !important;
	margin: 0 0 0 14px !important;
	padding: 0 16px !important;
	line-height: 30px !important;
	vertical-align: top !important;
	border-radius: 6px !important;
	text-transform: uppercase !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

a.previouspostslink {
	position: relative !important;
	display: inline-block !important;
	height: 30px !important;
	margin: 0 14px 0 0 !important;
	padding: 0 16px !important;
	line-height: 30px !important;
	vertical-align: top !important;
	border-radius: 6px !important;
	text-transform: uppercase !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	font-weight: normal !important;
	text-decoration: none !important;
	color: #8e8e8e !important;
}

a.first {
	position: relative !important;
	display: inline-block !important;
	height: 30px !important;
	margin: 0 14px 0 0 !important;
	padding: 0 16px !important;
	line-height: 30px !important;
	vertical-align: top !important;
	border-radius: 6px !important;
	text-transform: uppercase !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

span.pages {
	display: none !important;
}


/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}

.single-oldernewer {
	font-size:11px;
	padding:.5em 0;
	margin:1em 0 0 0;
	}	

	
/* Gallery post format */
.gallery_post {
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
	width:100%;
	overflow:hidden;
	}
	.gallery_post .g_item {
		overflow:hidden;
		display:none;
		}
	.gallery_post .g_item:first-child {
		display:block;
		}
		.gallery_post .g_item .featured-thumbnail {
			float:none;
			margin:0;
			}
			.gallery_post .g_item .featured-thumbnail img {
				float:none;
				}

.g_pagination {
	text-align:left;
	overflow:hidden;
	}
	.g_pagination ul {
		list-style-type:none;
		margin:0;
		padding:.5em 0;
		overflow:hidden;
		}
		.g_pagination ul li {
			padding:0 5px 0 0;
			display:inline;
			margin:0;
			}
			.g_pagination ul li a {
				display:inline-block;
				text-decoration:none;
				width:10px;
				height:10px;
				font-size:0;
				line-height:0;
				border-radius:5px;
				vertical-align:top;
				}
.g_controls {
	float:right;
	}
	.g_controls a {
		display:inline-block;
		padding:3px 6px;
		vertical-align:top;
		font-size:11px;
		text-decoration:none;
		border-radius:4px;
		font-family:trebushet;
		}

/* Author
---------------------------------------- */

#post-author {
	overflow:hidden;
	padding:20px;
	margin-bottom:2em;
}

#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
		
	#post-author .gravatar img {
		padding: 5px;
	}
	
#author-description {
	
	}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

/* Recent author comments */
#recent-author-comments {
	
}

.author-info {
	width:100%;
	overflow:hidden;
	margin-bottom:3em;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		
		.author-info .avatar img {
			float:left;
			padding:7px;
		}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}




/* 404
---------------------------------------- */

#error404 {
	padding: 30px 0 100px 0;
	text-align: center;
}

	#error404 h1 {
		margin: 0 0 4px 0;
	}

	#error404 h2 {
		margin: 0 0 8px 0;
	}
	
	#error404 h6 {
		margin: 0;
	}
	
	#error404 #searchform {
		width: 185px;
		margin: 0 auto;
	}
	
		#error404 #searchform input[type="text"] {
			width: 120px;
			height: 15px;
			line-height: 18px;
		}
	
		#error404 #searchform input[type="submit"] {
			float: right;
			height: 25px;
		}

.error404-num {
	line-height: 1.2em;
	font-size: 250px;
}




/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */
.header-title {
	margin-bottom:2.5em;
	}
	.header-title h1 {
		margin-bottom:.1em;
		}
	.header-title .page-desc {
		font-size:.91em;
		}



/* Default layout 3 columns */
#gallery {
	
	}
	#gallery .portfolio {
		width:100%;
		overflow:hidden;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#gallery .portfolio li {
			list-style-type:none;
			display:-moz-inline-box;
			display:inline-block;
			zoom:1;
			vertical-align:top; 
			width:300px;
			margin:0 16px 20px 0;
			position:relative;
			padding:0;
			line-height: 20px;
			font-size: 12px;
			font-weight: normal;
			text-transform: none;
			}
		* + html #gallery .portfolio li {
			display:inline;
			}
			
			#gallery .portfolio li p.excerpt {
				margin: 0;
				padding: 0;
			}
			
			#gallery .portfolio li a.button {
				float: left;
			}
			
		#gallery .portfolio li.nomargin {
			margin-right:0 !important;
			}
			#gallery .portfolio li span.image-border {
				display:block;
				height:190px;
				width:300px;
				position:relative;
				}
			#gallery .portfolio li span.image-border:before {
				-webkit-box-shadow: 0 15px 10px rgba(0,0,0, .5);
				-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				-webkit-transform: rotate(-4deg);
				-moz-transform: rotate(-4deg);
				-o-transform: rotate(-4deg);
				position: absolute;
				left: 10px;
				bottom: 15px;
				z-index: -1;
				width: 50%;
				height: 20%;
				content: "";
			}
			#gallery .portfolio li span.image-border:after {
				-webkit-box-shadow: 0 15px 10px rgba(0,0,0, .5);
				-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				-webkit-transform: rotate(4deg);
				-moz-transform: rotate(4deg);
				-o-transform: rotate(4deg);
				position: absolute;
				right: 10px;
				bottom: 15px;
				z-index: -1;
				width: 50%;
				height: 20%;
				content: "";
			}
			#gallery .portfolio li a.image-wrap {
				display:block;
				overflow:hidden;
				width:300px;
				height:190px;
				position:relative;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover {
				
				}
				#gallery .portfolio li a.image-wrap img {
					float:left;
					}
			
			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding: 1.5em 0 0 0;
				}
			#gallery .portfolio p.excerpt {
				padding:0;
				}
			
			.zoom-icon {
				display:block;
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				cursor:pointer;
				background:rgba(0, 0, 0, .7);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				opacity:0;
				}
			.no-rgba .zoom-icon {
				background:url(images/black-opacity-60.png);
				visibility:hidden;
				}
			.zoom-icon:before {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				top:50%;
				width:36px;
				height:61px;
				margin:-30px 0 0 -18px;
				background:url(images/magnify-alt.png) 50% 50% no-repeat;
				}
			.image-wrap:hover .zoom-icon {
				opacity:1;
				}
			.no-rgba .image-wrap:hover .zoom-icon {
				visibility:visible;
				}


/* 1 column portfolio*/
#gallery.one_column .portfolio li {
	width:100%;
	margin-right:0;
	margin-left:0;
	}
	#gallery.one_column .portfolio li span.image-border {
		width:540px;
		height:320px;
		float:left;
		}
	#gallery.one_column .portfolio li a.image-wrap {
		width:540px;
		height:320px;
		}
		#gallery.one_column .folio-desc {
			float:left;
			margin:0 0 0 20px;
			overflow:hidden;
			width:380px;
			}

/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:460px;
	margin-right:16px;
	}
	#gallery.two_columns .portfolio li span.image-border {
		width:460px;
		height:280px;
		}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:460px;
		height:280px;
		}

/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:220px;
	margin-right:16px;
	}
	#gallery.four_columns .portfolio li span.image-border {
		width:220px;
		height:147px;
		}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:220px;
		height:147px;
		}


		


/* Single Image */
.image-holder {
	position:relative;
	}
	.image-holder img {
		max-width:100%;
		}

/* Single Video */
.video-holder {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:0 0 2% 0;
}
.video-holder iframe,  
.video-holder object,  
.video-holder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

/* Audio Single */
.single-audio-holder .audiojs {
	width:620px;
	}
.single-audio-holder .audiojs .scrubber {
	width:440px;
	}	
	
/* Grid Gallery */
.grid_gallery {
	position:relative;
	overflow:hidden;
	padding:0 0 0 0;
	}
	.grid_gallery_inner {
		width:640px;
		position:relative;
		overflow:hidden;
		}
	.grid_gallery .gallery_item {
		float:left;
		margin:0 15px 15px 0;
		}
		
.single-gallery-item {
	margin:0;
}
	
	.single-gallery-item img {
		margin: 0;
	}
		
		

/* Sidebar
---------------------------------------- */

#sidebar {
	float: left;
}
	
	#sidebar .widget {
		width: 100%;
		overflow: hidden;
		margin: 0 0 32px 0;
		vertical-align: top;
	}
	
	#sidebar h3 {
		margin: 0 0 48px 0;
	}
	
	#sidebar ul {
		margin: 0;
		padding: 0;
	}
	
		#sidebar ul li ul {
			margin: 10px 0 0 0;
		}
	
	#sidebar #searchform input[type="text"] {
		width: 190px;
	}
	
	#sidebar #searchform input[type="submit"] {
		float: left;
		height: 25px;
		margin: 0 0 0 10px;
	}
	

/* Calendar */
#calendar_wrap {
	padding:0;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:6px 0;
			border:none;
			}
		#wp-calendar caption {
			font-size:16px;
			font-weight:bold;
			padding:4px 0;
			margin-bottom:5px;
			}
		#wp-calendar thead th {
			padding:7px 0;
			font-size:14px;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}



/* FAQs
---------------------------------------- */
.faq_list {
	
	}
	.faq_list dt {
		color:#666;
		position:relative;
		padding:0 0 5px 28px;
		font-size:15px;
		font-weight:normal;
		margin:0;
		background:none;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#333;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin:0 0 2em 0;
		color:#b2b2b2;
		}
		.faq_list dd .marker {
			top:3px;
			}



/* Custom widgets
---------------------------------------- */


/* Recent Comments */
ul.recentcomments {
	padding:0;
	margin:0;
	}
	ul.recentcomments li {
		border-top:1px solid #c6c6c6;
		padding:25px 0 25px 0;
		margin:0;
		border-bottom:none;
		background:none;
		overflow:hidden;
		list-style-type:none;
		}
	ul.recentcomments li:first-child {
		padding-top:0;
		border-top:none;
		}
		ul.recentcomments li img {
			float:left;
			margin:0 12px 0 0;
			}
		ul.recentcomments .comment-body {
			padding:15px 0 0 0;
			}
			ul.recentcomments .comment-body a {
				text-decoration:none;
				color:#96999d;
				}
			ul.recentcomments .comment-body a:hover {
				color:#000;
				text-decoration:underline;
				}
		ul.recentcomments li h4 {
			margin-bottom:.1em;
			}
			ul.recentcomments li h4 a {
				text-decoration:none;
				}
			ul.recentcomments li h4 a:hover {
				color:#000;
				}
		ul.recentcomments li small {
			font-size:11px;
			color:#6a6a6a;
			}

/* Posts Type widget */
.post_list {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.post_list li {
		list-style-type:none;
		overflow:hidden;
		padding-top:1.5em;
		padding-bottom:1.5em;
		border-top:1px solid #dbdbdb;
		margin:0;
		}
	.post_list li:first-child {
		border:none;
		padding-top:0;
		}
		.post_list li .featured-thumbnail img {
			max-width:120px;
			height:auto;
			}
		.ie8 .post_list li .featured-thumbnail img {
			max-width:none;
			}

/* Popular posts */
.popular-posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular-posts li {
		overflow:hidden;
		margin:0 0 2em 0;
		}
		.popular-posts li .post-thumb {
			float:left;
			margin-right:20px;
			width:100px;
			height:100px;
			overflow:hidden;
			padding:1px;
			border:1px solid #dbdbdb;
			}
			.popular-posts li .post-thumb .thumbnail {
				width:100%;
				height:auto;
				}
		.popular-posts li .post-thumb.empty-thumb {
			background:url(images/empty_thumb.gif) no-repeat 50% 50% #ececec;
			}
		.popular-posts li h5 {
			font-size:1em;
			margin-bottom:.5em;
			}
		.popular-posts li .excerpt {
			margin-bottom:.8em;
			}

			
/* Carousel widget */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 37px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none;
	padding:0;
	margin:0;
	color:#fff;
}
.es-carousel ul li .thumbnail{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(images/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-carousel ul li h4 {
	margin-bottom:.5em;
	}
.es-carousel ul li .excerpt {
	margin-bottom:10px;
	}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}						
			

/* Post Cycle */
.post_cycle {
	padding:0;
	margin:0;
	}
.post_cycle .cycle_item {
	display:none;
	}
.post_cycle .cycle_item:first {
	display:block;
	}


/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle .folio_item {
		overflow:hidden;
		display:none;
		}
	.folio_cycle .folio_item:first {
		display:block;
		}
		.folio_cycle .folio_item .featured-thumbnail {
			float:none;
			margin:0 0 15px 0;
			}
			.folio_cycle .folio_item .featured-thumbnail img {
				float:none;
				}
#folio-controls {
	text-align:center;
	overflow:hidden;
	}
	#folio-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#folio-controls ul li {
			padding:0 5px 0 0;
			margin:0;
			display:inline;
			}
			#folio-controls ul li a {
				display:inline-block;
				text-decoration:none;
				width:9px;
				height:9px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				}
			#folio-controls ul li a:hover {
				background:#999;
				}


/* Testimonials */
.testimonials {
  padding: 0;
  margin: 0;
}
.testimonials div.testi_item {
  padding: 0;
  margin: 0 0 2em 0;
  background: none;
}
.testimonials div.testi_item blockquote {
  display: block;
  position: relative;
  margin: 0;
  padding: 30px;
  background: #dbdbdb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
	}
.testimonials div.testi_item blockquote:before {
  content: "";
  display: block;
  position: absolute;
  left: 65px;
  bottom: -20px;
	width:0;
	height:0;
	border-left: 20px solid transparent;
	border-right: 0 solid transparent;
	border-top: 20px solid #dbdbdb;
}
.testimonials div.testi_item blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 41px;
  height: 38px;
  background: url(images/quotes.png) 0 0 no-repeat;
}
.testimonials div.testi_item blockquote a {
  text-decoration: none;
  color: #4e4e4e;
  display: block;
  font-style: normal;
  position: relative;
}
.testimonials div.testi_item blockquote a:hover {
  color: #ffffff;
}
.name-testi {
  padding: 12px 0 0 0;
  text-align: right;
  display: block;
}
.name-testi a {
  font-weight: normal;
}
.testimonials .thumb {
  float: left;
  margin-right: 20px;
}

/* Misc for Cycle widgets */
#testi-cycle .testi_item {
	display:none;
	}
#testi-cycle .testi_item:first {
	display:block;
	}
#testi-controls {
	text-align:center;
	overflow:hidden;
	}
	#testi-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#testi-controls ul li {
			padding:0;
			margin:0 2px 0 0;
			display:inline-block;
			}
		* + html #testi-controls ul li {
			display:inline;
			zoom:1;
			}


/* Twitter widget */
.twitter {
	position:relative;
}

	.twitter h4 {
		margin: 0 0 34px 0;
	}

.twitter_update_list {
	overflow:hidden;
	}
	
.twitter ul li {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
	font-size: 12px;
}

.twitter ul li:first-child {
	margin: 0;
}

	.twitter ul li .twitt-body {
		padding: 0;
	}
	
	.twitter ul li .twitt-body a {
		text-decoration: none;
	}
	
		.twitter ul li .twitt-body a:hover {
			text-decoration: underline;
		}
	
	.twitter ul li a.timesince {
		font-size: 11px;
	}
	
.twitter .profileLink {
	
	}
.twitter  .preloader {
	position:absolute;
	top:40px;
	left:0;
	height: 25px;
	line-height:25px;
}



/* Flickr widget */
.flickrImages {
	overflow:hidden;
	position:relative;
}
.flickrImages a {
	float:left;
	display:block;
	width:75px;
	height:75px;
	background:#000;
	margin:0 1px 1px 0;
	}
.flickrImages a img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.flickrImages a:hover img {
	opacity:.5;
}
.flickrImages a.link {
	display:inline;
	float:none;
	width:auto;
	height:auto;
	margin:0;
	background:none;
	}

/* Banner widget */
.banners-holder {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.banners-holder li {
		list-style-type:none;
		float:left;
		margin:0 3px 3px 0;
		padding:0;
		}
		.banners-holder li img {
			vertical-align:top;
			float:left;
			}

			
			
/* vCard widget */			
.vcard {
	
	}
			


/* Testimonials
---------------------------------------- */

/* Testimonials list */
article.testimonial {
	border:1px solid #eee;
	padding:30px 30px 30px 235px;
	width:auto;
	background:url(images/quotes.png) no-repeat 170px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:1.5em;
	font-weight:normal;
	margin-bottom:35px;
	}
	article.testimonial .featured-thumbnail {
		position:absolute;
		left:20px;
		top:20px;
		}
	article.testimonial .name-testi {
		display:block;
		text-align:right;
		font-style:normal;
		color:#222c36;
		font-size:13px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.2em;
		}
		article.testimonial .name-testi a {
			text-decoration:none;
			}
		article.testimonial .name-testi a:hover {
			text-decoration:underline;
			}


/* Single Testimonial */
.testi-single {
	font-family:Georgia, "Times New Roman", Times, serif;
	border:1px solid #eee;
	padding:30px 30px 30px 235px;
	width:auto;
	background:url(images/quotes.png) no-repeat 170px 20px;
	font-size:14px;
	line-height:1.5em;
	font-style:italic;
	margin:0 0 2em 0;
	position:relative;
	}
	.testi-single p {
		margin:0 0 1em 0;
		padding:0;
		}
		.testi-single .featured-thumbnail {
			position:absolute;
			left:20px;
			top:20px;
			}






/* Quote Format Type */
.recent-posts .format-quote {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}	

/* Audio Format Type */
.recent-posts .format-audio {
	margin-bottom:2em;
	}
	.recent-posts .format-audio .audio-wrapper {
		margin-bottom:.5em;
		}

/* Video Format Type */
.recent-posts .format-video {
	float:left;
	width:300px;
	margin:0 20px 20px 0;
	}
.recent-posts .format-video iframe {
	width:300px;
	height:200px;
	}	

/* Popular Posts */
.popular_posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular_posts li {
		list-style-type:none;
		padding:0 0 20px 0;
		margin:0;
		overflow:hidden;
		}



/* Tags */
.tags-cloud a,
.tagcloud a,
.post-footer a {
	display:inline-block;
	padding:2px 7px;
	border-radius:3px;
	text-decoration:none;
	margin:0 1px 4px 0;
	font-size:11px !important;
	line-height:1.5em;
	vertical-align:top;
	}


/* Recent Comments */
.recent-comments {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.recent-comments li {
		padding:0;
		margin:0;
		border:none;
		padding-bottom:.5em;
		}


































































#header #searchform {
	width: 200px;
	height: 30px;
	overflow: hidden;
}

	#header #searchform input[type="text"] {
		float: left;
		width: 188px;
		height: 20px;
		padding: 5px 6px 5px 6px;
		border: none;
		line-height: 18px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-style: italic;
	}

#header #searchform {
	position: absolute;
	top: 130px;
	right: 0;
}

div.title {
	margin: 0 0 27px 0;
	line-height: 1.2em;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

ul.projects {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.projects li {
		float: left;
		width: 220px;
		margin: 0 0 0 20px;
		padding: 0;
		list-style: none outside;
		line-height: 20px;
		font-size: 11px;
	}
	
	ul.projects li:first-child {
		margin: 0;
	}
	
		ul.projects li strong {
			display: block;
			margin: 0 0 1px 0;
			line-height: 20px;
			font-size: 12px;
			font-weight: normal;
		}
		
			ul.projects li strong a {
				text-decoration: none;
			}
			
				ul.projects li strong a:hover {
					text-decoration: underline;
				}

ul.latestpost {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.latestpost li {
		width: 100%;
		overflow: hidden;
		margin: 0 0 23px 0;
		padding: 24px 0 0 0;
		vertical-align: top;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}
	
	ul.latestpost li:first-child {
		margin: 0 0 23px 0;
		padding: 0;
	}
	
		ul.latestpost li time {
			float: left;
			width: 69px;
			height: 57px;
			overflow: hidden;
			margin: 0 10px 0 0;
			padding: 12px 0 0 0;
			line-height: 20px;
			font-size: 14px;
			font-weight: normal;
			text-align: center;
		}
		
			ul.latestpost li time span {
				display: block;
			}
		
		ul.latestpost li div {
			overflow: hidden;
		}
			
		ul.latestpost li strong {
			display: block;
			overflow: hidden;
			padding: 13px 0 10px 0;
			line-height: 20px;
			font-size: 12px;
			text-transform: uppercase;
		}
		
			ul.latestpost li strong a {
				text-decoration: none;
			}
		
		ul.latestpost li .excerpt a {
			margin: 0 0 0 5px;
			padding: 0 0 0 5px;
			font-size: 11px;
			font-weight: normal;
			text-decoration: none;
		}
		
			ul.latestpost li .excerpt a:hover {
				text-decoration: underline;
			}

ul.services {
	width: 100%;
	overflow: hidden;
	margin: 0 0 -24px 0;
	padding: 2px 0 0 0;
}

	ul.services li {
		float: left;
		width: 280px;
		margin: 0 0 39px 0;
		padding: 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}
	
	ul.services li.even {
		margin: 0 40px 39px 0;
	}
	
		ul.services li h5 {
			width: 261px;
			height: 40px;
			overflow: hidden;
			margin: 0 0 11px 0;
			padding: 0 0 0 19px;
			line-height: 38px;
			font-size: 14px;
			text-transform: uppercase;
		}
				
		ul.services li .excerpt {
			padding: 0 20px 0 0;
		}
		
		ul.services li .featured-thumbnail {
			width: 100%;
			overflow: hidden;
		}
		
			ul.services li .featured-thumbnail img {
				margin: 0;
			}

figure.thumbnail {
	width: 100%;
	overflow: hidden;
}

	figure.thumbnail img {
		float: left;
		margin: 0 0 16px 0;
	}

a.button {
	position: relative;
	float: right;
	height: 30px;
	margin: 0;
	padding: 0 16px;
	line-height: 30px;
	border-radius: 6px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

a.link {
	position: relative;
	display: inline-block;
	height: 30px;
	margin: 0;
	padding: 0 16px;
	line-height: 30px;
	vertical-align: top;
	border-radius: 6px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

.indent_right {
	padding: 0 19px 0 0;
}

.post-header {
	overflow: hidden;
	padding: 12px 0 0 0;
}

	.post-header h2 {
		width: 100%;
		height: 20px;
		overflow: hidden;
		margin: 0 0 10px 0;
		padding: 0;
		line-height: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: bold;
	}
	
		.post-header h2 a {
			text-decoration: none;
		}

.post-meta {
	width: 100%;
	overflow: hidden;
	margin: 0 0 10px 0;
	line-height: 20px;
	font-size: 12px;
}

	.post-meta b {
		float: left;
		margin: 0;
		padding: 0 0 0 15px;
		font-weight: normal;
	}
	
	.post-meta strong {
		float: left;
		margin: 0 11px 0 9px;
		padding: 0 0 0 18px;
		font-weight: normal;
	}
	
	.post-meta em {
		float: left;
		margin: 0;
		padding: 0 0 0 17px;
		font-style: normal;
	}
	
	.post-meta a {
		text-decoration: none;
	}

.post-content {
	margin: 0 0 15px 0;
	line-height: 20px;
	font-size: 12px;
}

ul.info {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.info li {
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		vertical-align: top;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}
	
		ul.info li em {
			float: right;
			padding: 0 15% 0 0;
			font-style: normal;
		}
		
		ul.info li a {
			text-decoration: none;
		}
		
			ul.info li a:hover {
				text-decoration: underline;
			}

ul.portfolio-meta-list {
	padding: 14px 0 4px 0;
}

	ul.portfolio-meta-list li {
		padding: 0;
		font-weight: normal;
		text-transform: none;
	}
	
		ul.portfolio-meta-list li a {
			text-decoration: underline;
		}
		
			ul.portfolio-meta-list li a:hover {
				text-decoration: none;
			}
			
	ul.portfolio-meta-list li strong {
		padding: 0 3px 0 0;
	}



































































/* Footer
---------------------------------------- */

#footer {
	position: relative;
	width: 100%;
	z-index: 99;
}

body.home #footer:before {
	display: block;
	width: 100%;
	height: 22px;
	overflow: hidden;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}

.footer-area {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 28px 0 13px 0;
}

	.footer-area:before {
		display: block;
		width: 100%;
		height: 22px;
		overflow: hidden;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.footer-area ul {
		margin: 0 0 20px 0;
		padding: 0;
	}
	
		.footer-area ul li {
			margin: 0 0 10px 0;
			padding: 0 0 0 15px;
			list-style: none;
			line-height: 20px;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
			.footer-area ul li a {
				text-decoration: none;
			}

ul.team {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.team li {
		float: left;
		width: 140px;
		overflow: hidden;
		margin: 0 0 0 20px;
		padding: 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}
	
	ul.team li:first-child {
		margin: 0;
	}
	
		ul.team li h5 {
			line-height: 20px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		ul.team li .featured-thumbnail {
			width: 100%;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		
			ul.team li .featured-thumbnail img {
				margin: 0 0 16px 0;
			}

ul.capabilities {
	width: 100%;
	overflow: hidden;
	margin: 0 0 4px 0;
	padding: 0;
}

	ul.capabilities li {
		float: left;
		width: 280px;
		margin: 0 0 0 40px;
		padding: 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		text-transform: none;
	}
	
	ul.capabilities li:first-child {
		margin: 0;
	}
	
		ul.capabilities li h5 {
			width: 261px;
			height: 40px;
			overflow: hidden;
			margin: 0 0 11px 0;
			padding: 0 0 0 19px;
			line-height: 38px;
			font-size: 14px;
			text-transform: uppercase;
.		}
		
			ul.capabilities li h5 a {
				text-decoration: none;
			}
				
		ul.capabilities li .excerpt {
			padding: 0 20px 15px 0;
		}
		
		ul.capabilities li .featured-thumbnail {
			width: 100%;
			overflow: hidden;
		}
		
			ul.capabilities li .featured-thumbnail img {
				margin: 0;
			}















.footer-widget-area {
	width: 100%;
	overflow: hidden;
	padding: 25px 0 7px 0;
}

	.footer-widget-area ul.social-networks {
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	
		.footer-widget-area ul.social-networks li {
			width: 100%;
			overflow: hidden;
			margin: 0 0 8px 0;
			padding: 0;
			list-style: none;
			line-height: 32px;
			font-size: 12px;
		}
		
			.footer-widget-area ul.social-networks li img {
				float: left;
				margin: -48px 12px 0 0;
			}
			
			.footer-widget-area ul.social-networks li a {
				text-decoration: none;
			}

.footer-info {
	width: 100%;
	min-height: 27px;
	overflow: hidden;
	padding: 27px 0 27px 0;
}
	
	#widget-footer .social-networks li {
		list-style-type:none;
		padding:0 0 .5em 0;
		margin:0;
		}
	
nav.footer {
	float: left;
}

	nav.footer ul {
		margin: 0;
		padding: 0;
	}
	
		nav.footer ul li {
			float: left;
			margin: 0 15px 0 0;
			padding: 0;
			list-style: none;
			line-height: 20px;
			font-size: 10px;
			text-transform: uppercase;
		}
		
			nav.footer ul li a {
				text-decoration: none;
			}
			
				nav.footer ul li a:hover {
					text-decoration: underline;
				}

#footer-text {
	float: right;
	line-height: 20px;
	font-size: 10px;
	text-transform: uppercase;
}

	#footer-text a {
		text-decoration: none;
	}
	
		#footer-text a:hover {
			text-decoration: underline;
		}
		
	#footer-text span {
		padding: 0 6px;
	}

/* Lightbox */
.lightbox {
	display:block;
	position:relative;
	}

/* Back to Top */
#back-top-wrapper {
  width:100%;
  position:absolute;
  overflow:hidden;
  height:41px;
}
#back-top {
	position: fixed;
	bottom: 51px;
	left:50%;
	margin-left:529px;
	display:none;
	filter: none !important;
}

#back-top a {
	width: 37px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 37px;
	height: 41px;
	display: block;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	cursor: pointer;
}

/* Tabs */
.tabs {
    margin: 1px 0 20px 0;
}

.tabs .tab-wrapper {
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    margin: -1px 0 0 0;
}

.tabs .tab-menu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs .tab-menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs .tab-menu a {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 2px 0 0;
    padding: 8px 20px;
}

.tabs .tab-menu a:hover {
    background-color: #f2f2f2;
    color: #666666;
}

.tabs .tab-menu a.active {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#fafafa');
    background: -moz-linear-gradient(bottom , #fafafa 0px, #f6f6f6 90%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #fafafa),color-stop(90%, #f6f6f6));
    border-bottom: none;
    color: #666666;
    padding: 8px 20px 9px 20px;
}

.tabs .tab {
	background-color: #fafafa;
	border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    padding: 20px;
}





/* Toggle */
.toggle {
    padding: 0 0 2px 0;
}
.toggle .trigger {
	background-color: #f5f5f5;
	background: -moz-linear-gradient(bottom, #F2F2F2 0px, #ffffff 100%);
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #ffffff));
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666666;
	display: block;
	padding: 10px 12px 10px 40px;
	position: relative;
	text-decoration:none;
	height:1%;
	}

.toggle .trigger span {
	background: url(includes/images/toggle.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
	text-indent: -9999px;
	width: 22px;
	height: 20px;
	}

.toggle .trigger:hover,
.toggle .active {
	background:#191919;
	color:#fff;
	}
.toggle .active span {
	background-position: 0 -20px;
	}

.toggle .box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	}



/* Dropcap */
.dropcap {
	float: left;
	margin: 0 22px 0 0;
	text-transform: uppercase;
	width: 51px;
	height: 51px;
	font-size: 24px;
	line-height: 51px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: lowercase;
}

.widget-area {
	
}

.hr {
	height:1px;
	background:#eee;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 5px;
	}
.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr, .grid_13 .hr, .grid_14 .hr, .grid_15 .hr, .grid_16 .hr, .grid_17 .hr, .grid_18 .hr, .grid_19 .hr, .grid_20 .hr, .grid_21 .hr, .grid_22 .hr, .grid_23 .hr, .grid_24 .hr {
	margin-left:0;
	margin-right:0;
	}
.sm_hr {
  height: 1px;
  background: #eee;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin: 25px 10px;
}
.grid_1 .sm_hr,
.grid_2 .sm_hr,
.grid_3 .sm_hr,
.grid_4 .sm_hr,
.grid_5 .sm_hr,
.grid_6 .sm_hr,
.grid_7 .sm_hr,
.grid_8 .sm_hr,
.grid_9 .sm_hr,
.grid_10 .sm_hr,
.grid_11 .sm_hr,
.grid_12 .sm_hr {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
	height:50px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}

/* Address */
.address {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	}
.address dt {
	float:left;
	width:165px;
	margin-right:20px;
	padding:0 0 0 55px;
	background:none;
	font-size:1em;
	line-height:18px;
	background:url(images/address-icon1.png) no-repeat 0 3px;
	}
.address dd {
	float:left;
	width:217px;
	padding:0 0 0 53px;
	background:url(images/address-icon2.png) no-repeat 0 3px;
	}
	.address dd ul {
		list-style-type:none;
		padding:0;
		margin:0;
		}
		.address dd ul li {
			background:none;
			padding:0;
			}
	.address dd span {
		float:left;
		width:100px;
		}
		.address dd a {
			font-style:italic;
			color:#191919;
			text-decoration:underline;
			}
		.address dd a:hover {
			text-decoration:none;
			}

			
/* Google Map */
.google-map {
	margin-bottom:20px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url(images/loading-map.gif);
	}




/* VIDEO */
.video-wrap {
	margin-bottom: 10px;
	position:relative;
	zoom:1;
	}
	.video-wrap object {
		position:relative;
		z-index:2;
		}
	.video-bg {
		background-color:black;
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		}

/* AUDIO */
.audio-wrapper {
   margin-bottom:1.5em;
}
.audio-desc {
	font-size:.91em;
	color:#999;
	padding:.5em 0 0 0;
	}
.audiojs audio { position: absolute; left: -1px; }
.audiojs { width: 460px; height: 36px; background: #404040; overflow: hidden; font-family: monospace; font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #000; }
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 280px; background: #5a5a5a; height: 14px; margin: 10px; border-top: 1px solid #3f3f3f; border-left: 0px; border-bottom: 0px; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #ccc; z-index: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
	background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
	background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #000; color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); } 
.audiojs .time em { padding: 0px 2px 0px 0px; color: #f9f9f9; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
	text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(js/audiojs/player-graphics.gif) -2px -1px no-repeat; }
.audiojs .loading { background: url(js/audiojs/player-graphics.gif) -2px -31px no-repeat; }
.audiojs .error { background: url(js/audiojs/player-graphics.gif) -2px -61px no-repeat; }
.audiojs .pause { background: url(js/audiojs/player-graphics.gif) -2px -91px no-repeat; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }



/* Alert boxes
---------------------------------------- */
.alert-box, .wpcf7-response-output {
	padding:20px 20px 20px 90px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:.91em;
	line-height:1.4em;
	border:1px solid #dbdbdb;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	}
	.error-box, .wpcf7-mail-sent-ng {
		border-color:#ff9999;
		color:#c31b00;
		background:url(images/icons/alert/icon-error.png) no-repeat 20px 50% #ffcccc;
		}
	.attention-box, .wpcf7-validation-errors, .wpcf7-spam-blocked {
		border-color:#e6c555;
		color:#9e660d;
		background:url(images/icons/alert/icon-note.png) no-repeat 20px 50% #fdebae;
		}
	.notice-box {
		border-color:#68a2cf;
		color:#2e6093;
		background:url(images/icons/alert/icon-info.png) no-repeat 20px 50% #bfe4f9;
		}
	.approved-box, .wpcf7-mail-sent-ok {
		border-color:#a3c159;
		color:#5e6f33;
		background:url(images/icons/alert/icon-download.png) no-repeat 20px 50% #ccff99;
		}
	


/* Forms
---------------------------------------- */

/* Form defaults */
input, select, textarea { 
	float: left;
	width: auto;
	height: auto;
	border: none;
	border-radius: 4px;
	margin: 0;
	padding: 5px 9px 5px 9px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: middle;
	outline:none;
}

input[type="text"], textarea {
	resize: none;
}

input[type="submit"], input[type="reset"] {
	float: right;
	width: auto;
	height: 30px;
	margin: 0;
	padding: 0 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}


/* Comment form */

#commentform {
	width: 100%;
	overflow: hidden;
}

	#commentform p {
		width: 100%;
		overflow: hidden;
		margin: 0 0 10px 0;
	}
	
		#commentform small {
			color: #ff6c24 !important;
		}
	
	#commentform a {
		text-decoration: underline !important;
	}
	
		#commentform a:hover {
			text-decoration: none !important;
		}
	
	#commentform label {
		display:block;
		}
		
	#commentform input[type="text"] {
		width: 47%;
		height: 20px;
	}
	
	#commentform input[type="submit"] {
		float: left;
		margin: 11px 0 0 0;
	}
	
	#commentform textarea {
		width: 85%;
		height: 180px;
		overflow: auto;
	}




/* Contact form */





div.wpcf7 {
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px 0 !important;
	padding: 0;
}

	div.wpcf7 p {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin: 0 0 10px 0;
	}

	div.wpcf7 input[type="text"] {
		width: 250px;
		height: 20px;
	}
	
	div.wpcf7 textarea {
		width: 250px;
		height: 250px;
	}
	
	.wpcf7 span.wpcf7-form-control-wrap {
		position: static !important;
	}
	
	div.wpcf7 input[type="submit"] {
		float: left;
	}

.wpcf7 span.wpcf7-not-valid-tip {
	width: 248px;
	height: 18px;
	padding: 5px 9px 5px 9px;
	border-radius: 4px;
	line-height: 20px;
	font-size: 11px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}





#footer .wpcf7 {
	width: 100%;
	overflow: hidden;
	margin: 0 !important;
	padding: 1px 0 0 0 !important;
}

	#footer .wpcf7 p {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin: 0 0 10px 0;
	}

	#footer .wpcf7 input[type="text"] {
		width: 202px;
		height: 20px;
	}
	
	#footer .wpcf7 input[type="submit"] {
		float: right;
	}
	
	#footer .wpcf7 textarea {
		width: 202px;
		height: 51px;
	}
	
	#footer .wpcf7 span.wpcf7-form-control-wrap {
		position: static !important;
	}
	
	#footer .wpcf7 img.ajax-loader {
		float: right;
		margin: 8px 12px 0 0;
	}

#footer .wpcf7 span.wpcf7-not-valid-tip {
	width: 200px;
	height: 18px;
	padding: 5px 9px 5px 9px;
	border-radius: 4px;
	line-height: 20px;
	font-size: 11px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}






/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */