
{% extends "base.html" %}

{% load service thumbnail news %}

{% block meta %}
    <title>{{ service.title }}</title>
    <meta name="description" content="{{ service.description }}">
{% endblock %}

{% block main_content %}

<div id="content" class="grid_8 alpha right">
    <div class="indent-right">
        <article id="post-94" class="post-94 services type-services status-publish hentry post-holder">
            <figure class="featured-thumbnail large">
                {% thumbnail service.image "600x371" as img %}
                    <img src="{{ img.url }}" alt="{{ service.title }}">
                {% endthumbnail %}
            </figure>
            <div class="clear"></div>

            <div class="post-header">
                <h2>{{ service.title }}</h2>
    		</div>

    		<div class="content">
                {{ service.text|safe }}
			</div>
    	</article>
	</div>
</div>


<aside id="sidebar" class="grid_4 omega">
	<div id="categories-2" class="widget">
        <h3>Все услуги</h3>
        {% get_all_service as all_service %}
        <ul>
            {% for s in all_service %}
	        <li class="cat-item cat-item-{{ forloop.counter }}">
                <a href="{{ s.get_absolute_url }}" title="{{ s.title }}">{{ s.title }}</a>
            </li>
        {% endfor %}
		</ul>
    </div>

    <div id="my_postwidget-3" class="widget">
        <h3>Последние новости</h3>
		{% get_last_news as news %}
        <ul class="latestpost">
            {% for entry in news %}
            <li class="clearfix">
                <time datetime="{{ entry.date_added|date:"c" }}">{{ entry.date_added|date:"d M" }}<span>{{ entry.date_added|date:"Y" }}</span></time>
                <div>
                    <strong>
                        <a href="{{ entry.get_absolute_url }}" rel="bookmark" title="{{ entry.title }}">{{ entry.title }}</a>
                    </strong>
                    <div class="excerpt">
                        {{ entry.description }}
                       <a href="{{ entry.get_absolute_url }}">Подробнее</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>

{% endblock %}