{% extends "base.html" %}

{% load service works thumbnail %}

{% block meta %}
    <title>Услуги по изготовлению металлоконструкций</title>
    <meta name="description" content="ООО Тризол - Услуги по изготовлению металлоконструкций">
{% endblock %}

{% block main_content %}

<div class="post-9 page type-page status-publish hentry page" id="post-9">
    <div class="grid_8  alpha">
        <h2>Основные</h2>
        {% get_primary_service as primary %}
        <div class="one_half ">
            <span class="dropcap">1</span>
            <h6><em>{{ primary.0.title }}</em></h6>
            <p>{{ primary.0.description }}</p>

            <span class="dropcap">3</span>
            <h6><em>{{ primary.2.title }}</em></h6>
            <p>{{ primary.2.description }}</p>
        </div>
        <div class="one_half last">
            <span class="dropcap">2</span>
            <h6><em>{{ primary.1.title }}</em></h6>
            <p>{{ primary.1.description }}</p>

            <span class="dropcap">4</span>
            <h6><em>{{ primary.3.title }}</em></h6>
            <p>{{ primary.3.description }}</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="grid_4  omega">
        <h2><strong>Все услуги<br></strong></h2>
        <ul>
            {% for service in service_list %}
                <li><a href="{{ service.get_absolute_url }}" title="{{ service }}">{{ service.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination"></div>
</div>


{% endblock %}


{% block footer_area %}
<div class="footer-area">
    <div class="container_12 clearfix">
        <div class="grid_12">
            <div id="text-6">
                <h2>Последние работы</h2>
                {% get_last_works 3 as works %}
                <div class="textwidget">
                    <ul class="recent-posts capabilities">
                        {% for work in works %}
                        <li class="post-86 post type-post status-publish format-standard hentry category-works tag-ac tag-adipiscing tag-est tag-fringilla tag-nulla tag-nullam tag-sagittis tag-tellus cat-1-id">
                            <figure class="featured-thumbnail">
                                <a title="{{ work.title }}" href="{{ work.get_absolute_url }}">
                                    {% thumbnail work.image "260x120" crop="center" as img %}
                                    <img src="{{ img.url }}">
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <h5>
                                <a title="{{ work.title }}" href="{{ work.get_absolute_url }}">{{ work.title }}</a>
                            </h5>
                            <div class="excerpt">
                                {{ work.text|safe }}
                            </div>
                            <a title="{{ work.title }}" class="button" href="{{ work.get_absolute_url }}">Узнать подробности</a>
                            <div class="clear"></div>
                        </li>
                        {% endfor %}

                </div>
            </div>
    </div>
</div>

{% endblock %}
